<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<div layout:fragment="content">
    <h1>일기 작성</h1>
    <input type="text" id="title" name="title" placeholder="제목">
    <textarea id="content" name="content" placeholder="내용">

    </textarea>
    <input type="text" id="date" name="date" placeholder="날짜">
    <input type="button" value="전송" onclick="send()">
</div>

<script layout:fragment="script">
    function send() {
        $.ajax({
            contentType: 'application/json',
            url: `/memos/write`,
            type:"POST",
            dataType: 'json',
            data: JSON.stringify({
                "title": $("#title").val(),
                "content": $("#content").val(),
                "date": $("#date").val()
            }),
        })
    }
</script>

</html>