<!DOCTYPE html>
<html>
<head>
    <title>MyMemory</title>
    <style>
        div {
            background-color: #F0F8FF; /* 연한 하늘색 */
        }
        div {
            background-color: #87CEFA; /* 연한 스카이 블루 */
            padding: 20px;
        }
        div h1 {
            color: #FFFFFF; /* 흰색 */
            text-align: center;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
<th:block th:fragment="header">
    <div>
        <h1>MyMemory</h1>
    </div>
</th:block>
</body>
</html>